*{
  font-family: Quicksand, Sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.category {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
.category-fill .category-item, .category-fill>.category-link {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
}
.category-pills .category-link.active, .category-pills .show>.category-link {
  
  background-color: #007bff;
}
.category-pills .category-link {
  border-radius: .25rem;
}
.category-link {
  display: block;
  padding: .5rem 1rem;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
